.title, .description {
    text-align: center;
}

.input-container {
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#playerName {
    flex: 0;

}

#predictButton {
    margin-left: auto;
}